<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let project of projects" [id]="project.id">
                        <td><span class="badge" [style.background-color]="project.color"> </span> {{project.name}}</td>
                        <td>{{project.description}}</td>
                        <td>
                            <button class="btn btn-info btn-sm" [routerLink]="['/projects', project.id]"><i class="ti-pencil"></i></button>
                            <button class="btn btn-danger btn-sm" (click)="removeProject(project, $event)"><i class="ti-close"></i></button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">
                            <new-project-form (projectSaved)="getProjects()"/>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>