<div class="col-md-4" style="height: 100%">
    <div class="card" style="height: 100%">
        <div class="content">
            <form #projectForm="ngForm" (submit)="saveProject()">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="color" name="color" [(ngModel)]="project.color">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" required [(ngModel)]="project.name" name="name"
                                   class="form-control input-lg border-input">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea [(ngModel)]="project.description" name="description" placeholder="Description" class="form-control border-input" rows="10"></textarea>
                </div>
                <button type="submit" [disabled]="!projectForm.form.valid" class="btn btn-fill btn-primary btn-lg btn-block">Enregistrer</button>
            </form>
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="card">
        <div class="header">
            <h4>
                Tâches
                <a (click)="showNewTaskForm = !showNewTaskForm" class="btn btn-xs btn-primary"><i [ngClass]="{'ti-minus': showNewTaskForm, 'ti-plus': !showNewTaskForm}"></i></a>
            </h4>
            <new-task-form *ngIf="showNewTaskForm" [project]="project" (taskSaved)="getProject()"></new-task-form>
        </div>
        <div class="content table-responsive table-full-width">
            <task-list [tasks]="project.tasks" (taskDelete)="onTaskDelete()"></task-list>
        </div>
    </div>
</div>